@cade-tecnologia:registry=https://npm.pkg.github.com
registry=https://npm.pkg.github.com/Vetnow-Management
@Vetnow-Management:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
