registry=https://registry.yarnpkg.com/
@cade-tecnologia:registry=https://npm.pkg.github.com
@GITHUB_USERNAME:registry=https://npm.pkg.github.com
//registry.npmjs.org/:_authToken=${TOKEN}
always-auth=true
