.container-principal {
  overflow-x: hidden;
  //box-sizing: border-box;
  //width: 100vw;
  //height: 100vh;
  background-color: var(--blue-steel-light);
  //padding: var(--spacing-lg);

  nav {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
  }

  main {
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-top: var(--spacing-eg);
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
  }
}
