<div class="login-container p-d-flex p-jc-center">
  <div class="p-sm-12 p-md-4 p-mr-2 p-as-center">
    <form [formGroup]="loginForm" (ngSubmit)="acessar()">
      <div id="login-wrapper">
        <div id="login-container">
          <div class="p-grid p-fluid">
            <div class="p-col-12">
              <input
                type="text"
                autocomplete="off"
                pInputText
                id="usuario"
                formControlName="usuario"
                placeholder="Usuário"
              />
            </div>
            <div class="p-col-12">
              <input
                type="password"
                autocomplete="off"
                pInputText
                id="senha"
                formControlName="senha"
                placeholder="Senha"
              />
            </div>
            <div class="p-col-12">
              <a href="#">Esqueci minha senha.</a>
            </div>
            <div class="p-col-12">
              <button pButton pRipple type="submit" label="Acessar"></button>
            </div>
            <div class="p-col-12">
              <button
                pButton
                class="p-button-secondary"
                type="submit"
                label="Cadastre-se"
                (click)="cadastrar()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
