a {
  span {
    color: var(--text-color-secondary);
  }
  fa-icon {
    margin: 5px;
    color: var(--text-color-secondary);
  }
  border-top: none !important;
  margin: 4px;
  border-radius: 6px;
  background-color: var(--surface-a);
  font-weight: bold;
}
