<form action="" [formGroup]="tutorForm">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-sm-12 p-md-4">
      <label for="nome">Nome</label>
      <input id="nome" type="text" pInputText formControlName="nome" />
    </div>
    <div class="p-col-12 p-sm-12 p-md-4">
      <label for="dataNascimento">Data de nascimento</label>
      <p-calendar
        id="dataNascimento"
        [showIcon]="true"
        inputId="icon"
        dateFormat="dd/mm/yy"
        formControlName="dataNascimento"
        [maxDate]="maxDate"
      ></p-calendar>
    </div>
    <div class="p-col-12 p-sm-12 p-md-4">
      <label for="documento">Documento</label>
      <input id="documento" type="text" pInputText formControlName="documento" [mask]="'CPF_CNPJ'" />
    </div>
    <div class="p-col-12" formGroupName="contato">
      <div class="p-grid">
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="celular">Celular</label>
          <input
            id="celular"
            type="text"
            pInputText
            formControlName="celular"
            [mask]="'(00) 0000-0000||(00) 00000-0000'"
          />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="telefone">Telefone</label>
          <input
            id="telefone"
            type="text"
            pInputText
            formControlName="telefone"
            [mask]="'(00) 0000-0000||(00) 00000-0000'"
          />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="email">E-mail</label>
          <input id="email" type="text" pInputText formControlName="email" />
        </div>
      </div>
    </div>
    <div class="p-col-12" formGroupName="endereco">
      <div class="p-grid">
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="cep">CEP</label>
          <input id="cep" type="text" pInputText formControlName="cep" [mask]="'00000-000'" />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="logradouro">Logradouro</label>
          <input id="logradouro" type="text" pInputText formControlName="logradouro" />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="bairro">Bairro</label>
          <input id="bairro" type="text" pInputText formControlName="bairro" />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="cidade">Cidade</label>
          <input id="cidade" type="text" pInputText formControlName="cidade" />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="estado">Estado</label>
          <input id="estado" type="text" pInputText formControlName="estado" />
        </div>
        <div class="p-col-12 p-sm-12 p-md-4">
          <label for="complemento">Complemento</label>
          <input id="complemento" type="text" pInputText formControlName="complemento" />
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</form>
