<div class="cadastro-container p-d-flex p-jc-center">
  <div class="p-sm-12 p-md-4 p-mr-2 p-as-center">
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
      <div class="p-grid p-fluid">
        <div class="p-col-12">
          <input
            type="text"
            pInputText
            id="razaoSocial"
            formControlName="razaoSocial"
            placeholder="Razão social"
            [ngClass]="submitted && cadastro.razaoSocial.errors ? 'ng-invalid ng-dirty' : ''"
          />
        </div>
        <div class="p-col-12">
          <input
            type="text"
            mask="CPF_CNPJ"
            pInputText
            id="documento"
            formControlName="documento"
            placeholder="CNPJ"
            [ngClass]="submitted && cadastro.documento.errors ? 'ng-invalid ng-dirty' : ''"
          />
        </div>
        <div class="p-col-12">
          <div class="p-grid" formGroupName="contato">
            <div class="p-col-12">
              <input
                type="text"
                class="p-col-12"
                pInputText
                id="email"
                formControlName="email"
                placeholder="E-mail"
                (change)="changeEmail()"
                [ngClass]="submitted && contato.email.errors ? 'ng-invalid ng-dirty' : ''"
              />
            </div>
            <div class="p-col-12">
              <input
                type="text"
                class="p-col-12"
                mask="(00) 0000-0000||(00) 00000-0000"
                pInputText
                placeholder="Telefone"
                id="telefone"
                formControlName="telefone"
                [ngClass]="submitted && contato.telefone.errors ? 'ng-invalid ng-dirty' : ''"
              />
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid" formGroupName="usuario">
            <div class="p-col-12 p-sm-12 p-md-6">
              <input
                type="text"
                class="p-col-12"
                pInputText
                id="usuario"
                placeholder="Usuário"
                formControlName="usuario"
                [attr.disabled]="''"
                [ngClass]="submitted && usuario.usuario.errors ? 'ng-invalid ng-dirty' : ''"
              />
            </div>
            <div class="p-col-12 p-sm-12 p-md-6">
              <input
                type="password"
                class="p-col-12"
                pInputText
                id="senha"
                placeholder="Senha"
                formControlName="senha"
                [ngClass]="submitted && usuario.senha.errors ? 'ng-invalid ng-dirty' : ''"
              />
            </div>
          </div>
        </div>
        <div class="p-col-12 p-sm-12 p-md-12">
          <p-checkbox class="p-col-12" name="groupname" value="val1" label="Aceito os termos de uso."></p-checkbox>
        </div>
        <div class="p-col-12 p-sm-12 p-md-12">
          <p-checkbox class="p-col-12" name="groupname" value="val1" label="Desejo receber novidades."></p-checkbox>
        </div>
        <div class="p-col-12 p-sm-12 p-md-12">
          <button pButton class="p-col-12" type="submit" label="Cadastrar"></button>
        </div>
        <div class="p-col-12 p-sm-12 p-md-12">
          <button
            pButton
            class="p-button-secondary p-col-12"
            type="button"
            label="Acessar"
            (click)="acessar()"
          ></button>
        </div>
        <div class="p-d-none p-d-md-inline p-col-12">
          <p class="p-text-center">
            Após se cadastrar você receberá 30 dias de acesso Grátis para experimentar a plataforma VETNOW completa.
            Aproveite!
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
