<form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
  <label for="razaoSocial">
    Razão social
    <input type="text" id="razaoSocial" formControlName="razaoSocial" />
  </label>
  <br />
  <label for="documento">
    CNPJ
    <input type="text" id="documento" formControlName="documento" />
  </label>
  <br />
  <div formGroupName="contato">
    <label for="email">
      E-mail
      <input type="text" id="email" formControlName="email" />
    </label>
    <br />
    <label for="telefone">
      Telefone
      <input type="text" id="telefone" formControlName="telefone" />
    </label>
  </div>
  <div formGroupName="usuario">
    <label for="email">
      Usuário
      <input type="text" id="usuario" formControlName="usuario" />
    </label>
    <br />
    <label for="telefone">
      Senha
      <input type="password" id="senha" formControlName="senha" />
    </label>
  </div>
  <input type="submit" value="cadastrar" />
</form>
<a [routerLink]="['']">voltar</a>
